<h1>Records</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
  </tr>
  <% for record in @records %>
  <tr>
    <td><%= record.title %></td>
    <td>|</td>
    <td><%= record.type %></td>
    <td>|</td>
    <td><%= record.quantity %></td>
    <td>|</td>
    <td><%= record.genre %></td>
    <td>|</td>
    <td><%= record.release_year %></td>
  </tr>
  <% end %>
</table>

